<app-header></app-header>
<h1>{{title}}</h1>
<button class="btn btn-primary" (click)="toggleTable()">Show table</button>

<table class="table" *ngIf="showTable">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">age</th>
            <th scope="col">Course</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students; let i = index" [ngClass]="{'active': i == 1}">
            <td>{{student.id}} {{i}}</td>
            <td>{{student.name}}</td>
            <td>{{student.age}}</td>
            <td>{{student.course}}</td>
        </tr>
    </tbody>
 </table>
    <app-footer></app-footer>